/**
 * CSS Custom Properties
 */
/* prettier-ignore */
:root {
	/* fonts */
	--fs: 16;
	--fs-px: calc(var(--fs) * 1px);
	--fs-body: 16px;
	--fs-h1: calc((64 / var(--fs)) * 1em);
	--fs-h2: calc((48 / var(--fs)) * 1em);
	--fs-h3: calc((32 / var(--fs)) * 1em);
	--fs-h4: calc((24 / var(--fs)) * 1em);
	--fs-h5: calc((18 / var(--fs)) * 1em);
	--fs-h6: calc((16 / var(--fs)) * 1em);
	--fs-big: 	calc((18 / var(--fs)) * 1em);
	--fs-small:	calc((14 / var(--fs)) * 1em);
	--fs-normal: 1em;

	--ff-1: 'Roboto', sans-serif;
	--ff-2: 'Roboto', sans-serif;

	/* layout */
	--sp-raw-s: 10;		--sp-s:calc((var(--sp-raw-s)/var(--fs))*1em);--sp-rem-s:calc((var(--sp-raw-s)/var(--fs))*1rem);
	--sp-raw: 24;		--sp:calc((var(--sp-raw)/var(--fs))*1em);--sp-rem:calc((var(--sp-raw)/var(--fs))*1rem);
	--sp-raw-m: 75;		--sp-m:calc((var(--sp-raw-m)/var(--fs))*1em);--sp-rem-m:calc((var(--sp-raw-m)/var(--fs))*1rem);
	--sp-raw-l: 150;	--sp-l:calc((var(--sp-raw-l)/var(--fs))*1em);--sp-rem-l:calc((var(--sp-raw-l)/var(--fs))*1rem);

	--spacer: 1rem;
	--spacer-1: calc((var(--spacer)) * 0.25);
	--spacer-2: calc((var(--spacer)) * 0.5);
	--spacer-3: calc((var(--spacer)) * 0.75);
	--spacer-4: calc((var(--spacer)) * 1.5);
	--spacer-5: calc((var(--spacer)) * 3);
	
	--w: var(--w-m);
	--w-s: 960px;
	--w-m: 1280px;
	--w-l: 1440px;
	--w-px: calc(100% - var(--gutter) * 2);

	--w-normal: var(--w-m);
	--w-wide: var(--w-l);

	--h-menu: 3em;

	--gutter: var(--sp-rem);
	--gutter-: calc(var(--gutter) * -1);

	/* animations */
	--ani-ease: ease-in-out;
	--ani-speed: 0.5s;
	--animate: ease-in-out 0.5s;

	/* theme colors */
	--primary: #000000;
	--secondary: #EAA900;
	--tertiary: #585858;

	--hover-primary: var(--white);
	--hover-secondary: var(--primary);
	--hover-tertiary: var(--white);

	--black: #000000;
	--white: #ffffff;
	--red: red;
	--gray: rgb(218, 216, 216);
	--orange: #f57814;
	--light-gray: #bababa;

	/* theme optional colors */
	--bg-hero: #F3F3F3;
	--bg-components: #F6F6F6;
	--bg-site: #F1F4F8;
	--bg-white: #FFFFFF;
	--font-accent: #898989;

	/* accessibility color (in accessibility.css) */
	--accessibility-color: #e51c23;

	/* alert colors */
	--c-good: #0ac675;
	--c-bad: #e24939;
	--c-meh: #ff7f50;

	/* colors: --<color>-<variant 1/2/3/etc>-<brightness 000(darkest)-900(lightest)> */

	/* border radius */
	--border-radius: 0.625rem;
	--border-radius-sm: 0.25rem;
	--border-radius-lg: 1rem;

	/* card */
	--card-border-radius: var(--border-radius);
	--card-deck-margin: calc(var(--grid-gutter-width) * 0.5);
	--card-inner-border-radius: var(--card-border-radius);
	--card-spacer-x: 2rem;
	--card-spacer-y: 1.5rem;

	/* social links */
	--facebook: #0071bb;
	--twitter: #1eb1d2;
	--instagram-yellow: #b900b4;
	--instagram-red: #f20407;
	--instagram-purple: #ffd521;
	--youtube: #cc5e5e;
	--google-plus: #cc5e5e;
	--flickr-blue: #0062dd;
	--flickr-pink: #ff0084;
	--linkedin: #0378b6;
	--pinterest: #cc2127;

	/* admin login page config */
	--login-bg-color: var(--primary);

	/* preheader(header-util) styles */
	--preheader-bg: var(--tertiary);
	--preheader-color: var(--white);
	--preheader-color-active: var(--secondary);

	/* layout */
	--header-padding-top: 130.5px;

	--header-nav-wrapper-maxwidth: 100%;
	--header-nav-wrapper-width: 95%;
	--header-breakpoint-desktop: var(--w-l);
	--header-breakpoint-mobile: 1399px;
	--header-logo-maxwidth: 376.84px;
	--header-logo-maxwidth-mobile: 244.45px;
	--header-container-maxwidth: 100%;
	--header-container-width: 100%;
	--header-desktop-submenu-width: 370px;
	--header-desktop-submenu-mega-padding-y: 20px;
	--header-desktop-submenu-mega-padding-x: calc(
		(50% - (0.5 * var(--header-container-maxwidth))) +
			var(--header-logo-maxwidth)
	);

	/* header styles */
	--header-mobile-bg: var(--tertiary);
	--header-mobile-link-color: var(--white);
	--header-mobile-font-size: 28px;

	--header-desktop-bg: transparent;
	--header-desktop-link-color: var(--tertiary);
	--header-desktop-link-color-active: var(--primary);

	--header-desktop-submenu-bg: var(--white);

	--header-link-current-after-color: var(--secondary);
	--header-link-padding: 20px 10px;

	/* footer main */
	--footer-bg-color: var(--bg-hero);
	--footer-color: var(--primary);
	--footer-color-active: var(--secondary);
	
	/* footer credits/copyright section */
	--footer-credits-bg-color: var(--bg-hero);
	--footer-credits-color: var(--black);
	--footer-credits-color-active: var(--secondary);

	/* colors: --<color>-<variant>-<brightness> */

	/* drab (light, medium, dark) */
	--c-raw-0-9: 0, 0%, 100%; /* white */ 			--c-0-9: hsl(var(--c-raw-0-9));
	--c-raw-0-7: 0, 0%, 83%; /* lightgray */ 		--c-0-7: hsl(var(--c-raw-0-7));
	--c-raw-0-5: 0, 0%, 50%; /* gray */ 			--c-0-5: hsl(var(--c-raw-0-5));
	--c-raw-0-2: 0, 0%, 41%; /* dimgray */ 			--c-0-2: hsl(var(--c-raw-0-2));
	--c-raw-0-0: 0, 0%, 0%; /* black */ 			--c-0-0: hsl(var(--c-raw-0-0));

	/* primary (light, medium, dark) */
	--c-raw-1-7: 180, 100%, 94%; /* lightcyan */ 	--c-1-7: hsl(var(--c-raw-1-7));
	--c-raw-1-5: 160, 100%, 75%; /* aquamarine */ 	--c-1-5: hsl(var(--c-raw-1-5));
	--c-raw-1-2: 180, 100%, 25%; /* teal */ 		--c-1-2: hsl(var(--c-raw-1-2));

	/* secondary (light, medium, dark) */
	--c-raw-2-7: 39, 77%, 83%; /* wheat */ 			--c-2-7: hsl(var(--c-raw-2-7));
	--c-raw-2-5: 34, 44%, 69%; /* tan */ 			--c-2-5: hsl(var(--c-raw-2-5));
	--c-raw-2-2: 25, 75%, 47%; /* chocolate */ 		--c-2-2: hsl(var(--c-raw-2-2));

	/* alert colors */
	--c-good: #0ac675;
	--c-bad: #e24939;
	--c-meh: #ff7f50;


	/**
	* Common breakpoints reference
	* 
	* Based on WordPress's _breakpoints.scss file.
	* (NOTE: if using max-width then subtract one)
	*	--bp-huge: 		1440px;
	*	--bp-wide: 		1280px;
	*	--bp-xlarge: 	1080px;
	*	--bp-large: 	960px;	// admin sidebar auto folds
	*	--bp-medium: 	782px;	// adminbar goes big
	*	--bp-small: 	600px;
	*	--bp-mobile: 	480px;
	*	--bp-zoomed-in: 280px;
	*/

	/* tablet */
	@media (max-width: 1024px) and (orientation: portrait) {
		--fs-h1: calc((45 / var(--fs)) * 1em);
	}
	@media (max-width: 781px) {
		--fs-h1: calc((54 / var(--fs)) * 1em);
	}

	/* phone */
	@media (max-width: 479px) {
		--fs-h1: calc((42 / var(--fs)) * 1em);
		--fs-h2: calc((38 / var(--fs)) * 1em);
	}
}
